/* ===================================================== */
/* Input styles */

/* .input-container {
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.input-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  text-align: left;
  font-size:15px;
}

.input-container input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  background: transparent;
  outline: none;
} */

/* ===================================================== */
/* Auto-fill css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ===================================================== */
/* Input icon */

.input-container svg {
  width: 25px;
  height: 25px;
  color: #707070;
  position: relative;
  margin-top: 15px;
}

/* ===================================================== */
/* Textarea (bio) */

textarea {
  font-family: Arial;
  width: 100%;
  padding: 2px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  text-align: left;
  resize: none;
  font-size: 15px;
}

textarea:focus {
  background: transparent;
  outline: none;
}
