/* ===================================================== */
/* Grid template */

.layout-item {
  grid-area: main;
  margin: 15vh 10vw 0vh 10vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-areas: "item-img item-desc";
  grid-gap: 5vw;
  place-items: left;
}

.layout-item svg {
  width: 50px;
  height: 50px;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width: 1023px) {
  .layout-item {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "item-img"
      "item-desc";
    text-align: center;
  }
  /* Image slider */
  .carousel.carousel-slider {
    height: 30vh;
    width: 30vh;
  }
}

/* ===================================================== */
/* Left section: Item image */

.item-img {
  grid-area: item-img;
  border-radius: 10px;
  padding: 30px;
  background-color: #c5c1a4;
}

.layout-item img {
  width: 100%;
  /* width:200px;
  height:200px; */
  object-fit: contain;
}

/* ===================================================== */
/* Right section: Item description */

.item-desc-container {
  grid-area: item-desc;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.05fr 0.05fr;
  grid-template-areas:
    "item-tags"
    "item-name-like"
    "item-price"
    "item-desc"
    "item-owner"
    "item-contact";
  text-align: left;
}

/* Item name & like */
.item-name-like {
  grid-area: item-name-like;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.item-name-like svg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px;
  fill: white;
  background-color: #bcb4a7;
}

/* Tags */
.item-tags {
  grid-area: item-tags;
  display: flex;
  gap: 1.5rem;
}

.tag {
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  background-color: #7e776f;
}

/* Item price */
.item-price {
  grid-area: item-price;
  font-size: 25px;
}

/* Item description */
@media screen and (min-width: 1023px) {
  .item-desc {
    grid-area: item-desc;
    height: 15vh;
  }
}

/* Item owner and contact */
.item-owner,
.item-contact {
  background-color: #bcb4a7;
  border-radius: 5px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: Arial;
  color: white;
}

.item-owner:hover {
  background-color: #ece3d3;
  color: #383531;
  box-shadow: #bcb4a7 0 5px;
}

.loading {
  position: fixed;
  left: 50%;
  top: 35%;
}
.loading svg {
  width: 40px;
  height: 40px;
}
