/* ===================================================== */
/* Grid template */

.layout-landing {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "slider"
    "browse";
  gap:50px;
}

/* ===================================================== */
/* Image slider */

.slider-container {
  grid-area: slider;
  display: grid;
  width: 90%;
  margin-top:50px;
  margin-left:5%;
  margin-right:5%;
}

.layout-landing .thumbs-wrapper {
  display: none;
}

.carousel-status {
  display: none;
}

.slider-container img {
  object-fit: cover;
  border-radius: 10px;
}

/* ===================================================== */
/* Browse Items */

.browse-grid-container {
  grid-area: browse;
  display: grid;
}

@media screen and (max-width: 1200px) {
  .layout-landing {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "browse";
  }

  .slider-container {
    display: none;
  }
}
