/* ===================================================== */
/* Grid template */

.layout-landing {
  margin: 3%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "search"
    "slider"
    "browse";
  gap: 50px;
}

/* ===================================================== */
/* Search box */

.search-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0, 3%, 3%, 0;
  width: 100%;
}

.search-wrapper input {
  border: solid 2px;
  border-color: #59493c;
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px 30px;
}

.input-wrapper {
  position: relative;
  width: 80%;
}

.search-wrapper svg {
  height: 2rem;
  width: 2rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 10;
}

.search-button {
  border: 1px solid white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #59493c;
  color: white;
  font-size: 16px;
}

/* ===================================================== */
/* Image slider */

.slider-container {
  grid-area: slider;
  display: grid;
  width: 90%;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-left: 10px;
}

.layout-landing .thumbs-wrapper {
  display: none;
}

.carousel-status {
  display: none;
}

.slider-container img {
  object-fit: cover;
  border-radius: 20px;
}

.control-arrow {
  display: none;
}

/* ===================================================== */
/* Browse Items */
.browse-gird-container {
  grid-area: browse;
  display: grid;
}

@media screen and (max-width: 1200px) {
  .layout-landing {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "slider"
      "browse";
    gap: 0;
  }

  .slider-container {
    display: none;
  }
}
