/* ===================================================== */
/* Grid template */

.layout-login {
  grid-area: main;
  margin: 15vh 3vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "login today";
  /* background-image: url(../image/background/login.png);
  background-repeat: none;
  background-position: fixed; */
}

.login-background {
  position: fixed;
  top: 60px;
  left: 20px;
  width: 1400px;
  height: auto;
  object-fit: contain;
  z-index: -99;
}

/* ===================================================== */
/* Left section: Login */

.login-container {
  grid-area: login;
  display: grid;
  padding: 5%;
  text-align: center;
}

.login-alert {
  text-align: left;
  width: 70%;
  margin: auto;
}

.login-container button {
  border: 1px solid white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  grid-template-rows: 0.2fr 0.5fr 2fr;
  background-color: #af9177;
  color: white;
  font-size: 16px;
  margin: 15px;
}

.signup-link {
  font-family: Arial;
  font-size: 15px;
  color: #0047ab;
}

.password-link {
  font-family: Arial;
  font-size: 12px;
  color: #0047ab;
}

.login-container .input-container {
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.login-container .input-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
}

.login-container .input-container input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  background: transparent;
  outline: none;
}

/* ===================================================== */
/* Right section: Today */

.today-container {
  grid-area: today;
  text-align: center;
}

.today-container img {
  max-width: 700px;
  height: auto;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width: 1200px) {
  .layout-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "today"
      "login";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .today-container img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  .layout-login {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "today"
      "login";
    grid-gap: 5px;
    padding: 10px;
    text-align: left;
  }

  .today-container img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
}
