/* ===================================================== */
/* Grid template */

.layout-login {
  grid-area: main;
  margin:15vh 3vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'login today';
  /* background-image: url(../image/background/login.png);
  background-repeat: none;
  background-position: fixed; */
}

.login-background {
  position:fixed;
  top:60px;
  left: 20px;
  width:1400px;
  height: auto;
  object-fit: contain;
  z-index:-99;
}

/* ===================================================== */
/* Left section: Login */

.login-container {
  grid-area: login;
  display: grid;
  padding:5%;
  text-align: center;
}

/* ===================================================== */
/* Right section: Today */

.today-container {
  grid-area: today;
  text-align: center;
}

.today-container img {
  max-width: 700px;
  height: auto;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width:1200px) {
  .layout-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "today"  
      "login";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .today-container img {
    max-width: 500px;
    height: auto;
  }
}

@media screen and (max-width:800px) {
  .layout-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "today"  
      "login";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .today-container img {
    max-width: 400px;
    height: auto;
  }
}