/* ===================================================== */
/* Grid template */

.layout-market {
  grid-area: main;
  margin: 10vh 3vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2.5fr;
  grid-template-areas: "user-avatar user-intro user-collection";
  grid-gap: 1vw;
}

/* ===================================================== */
/* User Avatar */

.user-avatar-container {
  grid-area: user-avatar;
  display: grid;
}

.user-avatar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 85vh;
  width: auto;
  z-index: 2;
}

/* ===================================================== */
/* User Introduction */

.user-intro-container {
  grid-area: user-intro;
  position: fixed;
  width: 15vw;
  margin-top: 12vh;
  left: 17.5vw;
  text-align: left;
}

.user-avatar-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90vh;
  width: 38vw;
  z-index: -1;
}

.user-intro-container svg {
  width: 50px;
  height: 50px;
}

.user-intro-container svg:hover {
  fill: #bcb4a7;
}

.divider {
  border: 1px solid #c5c1a4;
  border-radius: 10px;
}

/* ===================================================== */
/* User Collections */

.user-collection-container {
  grid-area: user-collection;
  display: grid;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width: 1420px) {
  .layout-market {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-template-areas: "user-intro user-collection";
    text-align: center;
  }

  .user-avatar-container {
    display: none;
  }

  .user-intro-container {
    width: 15vw;
    margin-top: 10vh;
    left: 5vw;
  }

  .user-avatar-bg {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .layout-market {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-intro"
      "user-collection";
    text-align: center;
  }

  .user-avatar-container {
    display: none;
  }

  .user-intro-container {
    position: static;
    width: 95%;
  }

  .user-avatar-bg {
    display: none;
  }
}
