/* ===================================================== */
/* Grid template */

.layout-market {
  grid-area: main;
  margin: 10vh 3vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2.5fr;
  grid-template-areas:
    "user-avatar user-intro user-collection";
  grid-gap:1vw;
}

/* ===================================================== */
/* User Avatar */

.user-avatar-container {
  grid-area: user-avatar;
  display: grid;
}

.user-avatar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 75vh;
  width: auto;
  z-index:2;
}

/* ===================================================== */
/* User Introduction */

.user-intro-container {
  grid-area: user-intro;
  position: fixed;
  width: 15vw;
  margin-top: 22vh;
  left: 17.5vw;
  text-align: left;
}

.user-avatar-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90vh;
  width: 38vw;
  z-index: -1;
}

.user-intro-container svg {
  width: 50px;
  height: 50px;
}

.user-intro-container svg:hover {
  fill:#BCB4A7;
}

.divider {
  border: 1px solid #C5C1A4;
  border-radius: 10px;
}

/* ===================================================== */
/* User Collections */

.user-collection-container {
  grid-area: user-collection;
  display: grid;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width:1500px) {
  .layout-market {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-template-areas:
      "user-intro user-collection";
    text-align: center;
  }

  .user-avatar-container {
    display: none;
  }

  .user-intro-container {
    width: 15vw;
    margin-top: 10vh;
    left: 5vw;
  }

  .user-avatar-bg {
    display: none;
  }
}



@media screen and (max-width:1000px) {
  .layout-market {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-intro" 
      "user-collection";
    text-align: center;
  }

  .user-avatar-container {
    display: none;
  }

  .user-intro-container {
    position:static;
    width: 95%;
  }

  .user-avatar-bg {
    display: none;
  }
}


/* ===================================================== */
/* Item List */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.wrapper {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  /* box-shadow: 0 0 10px 10px rgb(244, 244, 247); */
  border-radius: 20px;
  min-width: 28rem;
  display: flex;
  background-color: #E6DED0;
}

.card-img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}

.card-body {
  margin: 1rem;
  flex-grow: 1;
}
.card-title {
  line-height: 0.5rem;
  margin-bottom: 0.1rem;
}
.card-description {
  line-height: 1.2rem;
}
.card-price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
.card-price::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}

@media screen and (min-width: 750px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem));
  }
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 10rem;
  }
  .card-img {
    width: 100%;
    height: 12rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.user-collection-container svg {
  fill:grey;
  width: 5.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 5px;
}

.edit-icon:hover {
  fill:white;
  background-color:#4F7942;
}

.delete-icon:hover {
  fill:white;
  background-color:#A93226;
}