/* ===================================================== */
/* Grid template */

.layout-profile {
  grid-area: main;
  margin-top: 60px;
  padding: 1.5vh;
  display: grid;
  background-color: #fcf9f4;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.5fr;
  row-gap: 3vh;
  grid-template-areas:
    "profile-photo"
    "edit";
  text-align: center;
}

.layout-profile svg {
  width: 50px;
  height: 50px;
}

/* ===================================================== */
/* Edit */

.edit-container {
  margin: 0 4%;
  grid-area: edit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "edit-left edit-right"
    "button    button";
  background-color: rgba(210, 203, 193, 0.4);
  border-radius: 20px;
}

.edit-container h2 {
  font-size: 1.2rem;
}

.edit-container button {
  border: none;
  background: transparent;
  text-decoration: 1px solid underline;
}

.buttonBox {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  grid-area: button;
  justify-content: center;
}

.buttonBox button {
  border: 1px solid white;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #AF9177;
  color:white;
  font-size:15px;
  margin:15px;
  text-decoration: none;
}

/* Avatar */
.edit-avatar {
  position: absolute;
  width:250px;
  height:250px;
  background-color: white;
  border-radius:50%;
  margin-left:35%;
  margin-top:-200px;
}

/* ===================================================== */
/* Left: Edit profile  */

.edit-left-container {
  margin-top: 100px;
  grid-area: edit-left;
  width: 100%;
  align-items: center;
}

/* ===================================================== */
/* Right: Edit profile */

.edit-right-container {
  margin-top: 100px;
  grid-area: edit-right;
  width: 100%;
  align-items: center;
}

#contactSelect {
  margin: 0;
  width: 75%;
  height: 2rem;
  font-size: large;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: left;
}

/* ===================================================== */

.layout-profile input {
  width: 75%;
  height: 3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.selector-container {
  width: 100%;
}

.selector-container svg {
  width: 25px;
  height: 25px;
  color: #707070;
  position: relative;
  margin-top: 15px;
}

.selector-container select:focus {
  background: transparent;
  outline: none;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width: 800px) {
  .layout-profile {
    grid-area: main;
    margin-top: 60px;
    padding: 1.5vh;
    display: grid;
    background-color: #fcf9f4;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr;
    grid-template-areas:
      "profile-photo"
      "edit";
    text-align: center;
  }

  .edit-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas:
      "edit-left"
      "edit-right"
      "button";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  /* Avatar */
  .edit-avatar {
    position: absolute;
    width:250px;
    height:250px;
    background-color: white;
    border-radius:50%;
    margin-left:28%;
    margin-top:-180px;
  }
}