/* ===================================================== */
/* Grid template */

.layout-register {
  grid-area: main;
  margin: 0px 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "register avator-selection";
  grid-gap: 100px;
  padding: 10px;
  text-align: left;
}

.register-button {
  border: 1px solid white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #AF9177;
  color:white;
  font-size:15px;
  margin:20px;
}

.register-signin {
  font-family:Arial;
  font-size:15px;
  color:#0047AB;
}

/* ===================================================== */
/* Left section: Register */

.register-container {
  grid-area: register;
  text-align: center;
  margin-top: 70px;
}

.register-alert {
  width: 300px;
  margin-left:20%;
  text-align: left;
}

/* ===================================================== */
/* Right section: Bubble */

.bubble-container {
  grid-area: avator-selection;
  place-items: center;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "title alert ."
    "female1 female2 female3"
    "male1 male2 male3"
    "title-bottom title-bottom title-bottom";
}

#female1 {grid-area: female1;}
#female2 {grid-area: female2;}
#female3 {grid-area: female3;}
#male1 {grid-area: male1;}
#male2 {grid-area: male2;}
#male3 {grid-area: male3;}
.avatar-remindar {grid-area: title;}
.avatar-setup-msg {grid-area: title-bottom}

/* Avatar size */
.avatar1 {
  width: 95%;
  height: auto;
  border-radius: 50%;
  margin: 5px;
  background-color: white;
}
.avatar2 {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin: 5px;
  background-color: white;
}

/* Avatar hover */
.avatar1:hover {
  border-radius: 50%;
  background-color: #bcb4a7;
  box-shadow: 0 0 10px 10px rgb(244, 244, 247);
}
.avatar2:hover {
  border-radius: 50%;
  background-color: #bcb4a7;
  box-shadow: 0 0 10px 10px rgb(244, 244, 247);
}

/* Avatar select alert */
.avatar-alert {
  grid-area: alert;
  width: 220px;
  margin-top:10px;
  margin-left:10%;
}

/* ===================================================== */
/* Responsive design */
@media screen and (max-width: 1400px) {
  .bubble-container {
    grid-area: avator-selection;
    place-items: center;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "title title alert"
      "female1 female2 female3"
      "male1 male2 male3"
      "title-bottom title-bottom title-bottom";
  }
}

@media screen and (max-width: 1100px) {
  .layout-register {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "register"
      "avator-selection";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .bubble-container {
    grid-area: avator-selection;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title alert"
      "female1 female2 female3"
      "male1 male2 male3"
      "title-bottom title-bottom title-bottom";
  }
}

@media screen and (max-width: 897px) {
  .layout-register {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "register"
      "avator-selection";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .avatar-alert {
    grid-area: alert;
    width: 220px;
    margin-top:10px;
    margin-left:0;
  }
}
