/* ===================================================== */
/* Overall */

* {
  box-sizing: border-box;
}

body {
  background-color: #fcf8f4;
  /* background-image: url(../image/background/login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  margin:0;
  font-family: Ariel;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
}

/* redirect link */
a {
  color: black;
}

button {
  background: transparent;
  border: none;
  text-decoration: 1px solid underline;
}

/* ===================================================== */
/* Navigation bar */

/* Overall */
.navbar {
  grid-area: navbar;
  height: 8vh;
  background:#fcf8f4;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right:1rem;
}

/* Icons  */
.navbar svg {
  width: 35px;
  height: 35px;
}

.navbar svg:hover {
  fill:#BCB4A7;
}

.home-icon {
  margin-top: 0.8rem;
  margin-left: 1.8rem;
}

.side-menu {
  display: none;
}

@media screen and (max-width:800px) {
  .menu{
    display: none;
  }
}

/* ===================================================== */
/* Footer */

.footer {
  grid-area: footer;
  height: 7vh;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  background: #fcf8f4;
  z-index: 99;
}

.footer p {
  text-align: center;
}

/* error message*/
.errmsg {
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  background-color: transparent;
  position: absolute;
  left: -9999px;
}

