/* ===================================================== */
/* Overall */

* {
  box-sizing: border-box;
}

body {
  background-color: #fcf8f4;
  margin:0;
  font-family: Ariel;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  min-height: 100vh;
}

/* redirect link */
a {
  color: black;
}

button {
  text-decoration: 1px solid black underline;
  border:none;
  background-color: transparent;
}

/* button {
  width: 120px;
  height: 30px;
  color:white;
  background-color: #BCB4A7;
  border:none;
  border-radius: 5px;
}

button:hover {
  width: 120px;
  height: 30px;
  color:#BCB4A7;
  background-color: white;
  border:none;
  border-radius: 5px;
} */

/* ===================================================== */
/* Navigation bar */

/* Overall */
.navbar {
  grid-area: navbar;
  height: 60px;
  background:#fcf8f4;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-right:1rem;
}

/* Icons  */
.navbar svg {
  width: 33px;
  height: 33px;
}

.navbar svg:hover {
  fill:#BCB4A7;
}

.home-icon {
  margin-top: 0.3rem;
  margin-left: 1.6rem;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding:1.5px;
}

/* ===================================================== */
/* Footer */

.footer {
  grid-area: footer;
  height: 45px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #fcf8f4;
  z-index: 99;
}

.footer p {
  text-align: center;
}

/* error message*/
.errmsg {
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  background-color: transparent;
  position: absolute;
  left: -9999px;
}

